
body {
    background-color: lightblue;
}

section {
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

a {
	font-weight: bold;
}
#turkey {
	height: 20%;
	width: 20%;

	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#map {
	height: 80%;
	width: 80%;
}


.standard_img {
	height: 60%;
	width: 60%;
}


#forge {
	height: 3%;
	width: 3%;
	float: right;
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}