<!DOCTYPE html>
<html>
    <head>
        <title>User Signup</title>
        <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
        <style>
/*body {
    background-color: lightblue;
}*/

a {
    font-weight: bold;
}

#forge {
    height: 3%;
    width: 3%;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.error {
    color: red;
}

</style>
    </head>
    <body>
        <!-- <h1>
            <a href="/">Signup</a>

        </h1> -->

        {% block content %}
        {% endblock %}

    </body>
</html>