{% extends "base.html" %} 

{% block content %}
<link  rel="stylesheet" type="text/css"  href="/static/style.css">
<h1>Signup</h1>
<form action="/submit" method="POST">
	<table>
		<tr>
			<td><label>Username</label></td>

			<td><input name="user_name" type="text" value="{{form_name}}"/></td>
			{% if user_name_error and user_name_error  !='None' %}
			<td class='error'>{{ user_name_error }}</td>
			{% endif %}
		</tr>	
		<tr>
			<td><label>Password</label></td>

			<td><input name="pass_word" type="password" /></td>
			{% if pass_word_error and pass_word_error !='None' %}
			<td class='error'>{{ pass_word_error }}</td>
			{% endif %}
		</tr>
		<tr>
			<td><label>Verify Password</label></td>

			<td><input name="vpass_word" type="password" /></td>
			{% if vpass_word_error and vpass_word_error !='None' %}
			<td class='error'>{{ vpass_word_error }}</td>
			{% endif %}
		</tr>
		<tr>
			<td><label>Email (optional)</label></td>

			<td><input name="e_mail" type="text" /></td>
			{% if e_mail_error and e_mail_error !='None'%}
			<td class='error'>{{ e_mail_error }}</td>
			{% endif %}
		</tr>
	</table>

	<label><input type="submit"/></label>
</form>

{% endblock %}