{% extends "base.html" %} 

{% block content %}


<html>
	
	<body>
		<div class='center'>
		<h1>Zoey Thompson</h1>
		<p><strong>Hi, My name is Zoey.  I'm a chihuahua!</strong></p>
		<img src="\static\Zoey_in_grass.jpg" width="350" height="350">
		<h3>Some of my favorite places:</h3>
		<ul>
			<b>
			<li>Cole Park</li>
			<li>Bowie Park at City Center</li>
			<li>Idle Wild</li>
			</b>
		</ul>
		<!--h4-->
			<p>Learn more about chihuahuas <a href="https://www.akc.org/dog-breeds/chihuahua/"><b>here!</b></a></p>
		<!--/h4-->
		</div>
	</body>
</html>

{% endblock %}